.profile__user {
    display: flex;
    gap: 18px;
}


@media screen and (max-width: 720px) {
    .profile__user {
        display: flex;
        justify-content: center;
        padding-left: 28px;
    }
}